* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Happydayschool;
  src: url(../../assets/fonts/HappyDaySchool.ttf);
  font-style: normal;
}
@font-face {
  font-family: Dyslexic;
  src: url(../../assets/fonts/OpenDyslexic-Bold.ttf);
  font-style: normal;
}
h1 {
  font-size: 60px;
  font-family: Dyslexic;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

@keyframes myAnim {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.contenedores, .indexMain, .nosotrosMain, .contactoMain, .borderMio.recetaMain, .containerMio.recetasMain {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.listas, .borderMio.recetaMain .contenedor__receta .ul, .borderMio.recetaMain .contenedor__receta .ol {
  font-size: 20px;
  margin: 20px 0;
}

.header {
  background-image: url(../assets/images/backgroundHeader.webp);
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header .logo {
  width: 200px;
  margin: 80px 0 0 40px;
  transition: all 0.5s ease;
}
.header .logo:hover {
  object-fit: cover;
  scale: 1.2;
  transition: all 1s ease;
  overflow: hidden;
  border-radius: 8px;
}
@media (max-width: 1010px) {
  .header .logo {
    width: 160px;
  }
}
@media (max-width: 747px) {
  .header .logo {
    width: 130px;
    margin: 110px 0 0 20px;
  }
}
@media (max-width: 559px) {
  .header .logo {
    width: 100px;
  }
}
@media (max-width: 356px) {
  .header .logo {
    width: 60px;
    margin: 120px 0 0 10px;
  }
}
.header__container {
  text-align: center;
  margin-top: 100px;
  margin-left: 130px;
}
.header__container p {
  font-size: 30px;
}
@media (max-width: 1419px) {
  .header .header__container {
    margin-left: 15px;
    margin-top: 120px;
  }
  .header .header__container h1 {
    font-size: 40px;
  }
  .header .header__container p {
    font-size: 30px;
  }
}
@media (max-width: 1010px) {
  .header .header__container {
    margin-left: 20px;
    margin-top: 120px;
  }
}
@media (max-width: 747px) {
  .header .header__container {
    margin-left: 0px;
    margin-top: 120px;
  }
  .header .header__container h1 {
    font-size: 35px;
  }
  .header .header__container p {
    font-size: 25px;
  }
}
@media (max-width: 559px) {
  .header .header__container {
    margin-left: 0px;
    margin-top: 100px;
  }
  .header .header__container h1 {
    font-size: 35px;
  }
  .header .header__container p {
    font-size: 20px;
  }
}
@media (max-width: 356px) {
  .header .header__container {
    margin-left: 0px;
    margin-top: 100px;
  }
  .header .header__container h1 {
    font-size: 30px;
  }
  .header .header__container p {
    font-size: 10px;
  }
}

.footer {
  background-image: url(../assets/images/backgroundFooter.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 380px;
  display: flex;
  justify-content: space-between;
}
.footer .logoFooter {
  width: 400px;
  padding: 10px;
}
@media (max-width: 1419px) {
  .footer .logoFooter {
    width: 270px;
    padding: 10px;
    margin-top: 40px;
  }
}
@media (max-width: 1010px) {
  .footer .logoFooter {
    width: 250px;
    padding: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 747px) {
  .footer .logoFooter {
    width: 200px;
    padding: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 559px) {
  .footer .logoFooter {
    width: 120px;
    padding: 10px;
    margin-top: 20px;
  }
}
@media (max-width: 356px) {
  .footer .logoFooter {
    width: 80px;
    padding: 10px;
    margin-top: 10px;
  }
}
.footer__container-navbar {
  display: flex;
  list-style: none;
  margin-top: 160px;
}
.footer__container-navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  list-style: none;
}
.footer__container-navbar a:hover {
  text-shadow: 4px 3px 2px rgb(136, 136, 136);
}
@media (max-width: 1010px) {
  .footer {
    height: 300px;
  }
  .footer__container-navbar {
    display: inherit;
    list-style: none;
    margin-top: 100px;
  }
}
@media (max-width: 747px) {
  .footer {
    height: 250px;
  }
  .footer__container-navbar {
    display: inherit;
    list-style: none;
    margin-top: 100px;
  }
}
@media (max-width: 559px) {
  .footer {
    height: 150px;
  }
  .footer__container-navbar {
    display: inherit;
    list-style: none;
    margin-top: 40px;
  }
  .footer__container-navbar a {
    font-size: 20px;
  }
}
@media (max-width: 356px) {
  .footer {
    height: 100px;
  }
  .footer .footer__container-navbar {
    display: inherit;
    list-style: none;
    margin-top: 0px;
  }
  .footer .footer__container-navbar a {
    font-size: 5px;
  }
}

.containerMio {
  display: grid;
  grid-template-columns: 2;
  gap: 4px;
}
.containerMio.recetasMain {
  background-image: url(../assets/images/backgroundRecetas.webp);
}
.containerMio.recetasMain .contenedor {
  max-width: 800px;
  width: 90%;
  margin: 30px;
}
.containerMio.recetasMain .contenedor.contenido-principal {
  grid-column: 1/span 1;
}
.containerMio.recetasMain .contenedor.contenido-principal .article__receta {
  margin: 20px;
  background-color: rgb(164, 237, 234);
  border: solid 5px black;
  border-radius: 10px;
}
.containerMio.recetasMain .contenedor.contenido-principal .article__receta-img {
  max-width: 793px;
  width: 100%;
  height: auto;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}
.containerMio.recetasMain .contenedor.contenido-principal .article__receta .description {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.containerMio.recetasMain .contenedor.contenido-principal .article__receta .description .button__deco {
  display: block;
  width: 30%;
  background-color: black;
  font-family: Dyslexic;
  text-align: center;
  color: white;
  text-decoration: none;
  border: solid 5px gray;
  font-size: 15px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
}
.containerMio.recetasMain .contenedor.contenido-principal .article__receta .description .button__deco:hover {
  background-color: gray;
  border: solid 5px black;
  color: black;
}
@media (max-width: 1010px) {
  .containerMio.recetasMain .containerMio {
    display: grid;
    grid-template-columns: 1;
    gap: 4px;
  }
  .containerMio.recetasMain .containerMio .contenedor {
    margin: 0 auto;
  }
  .containerMio.recetasMain .containerMio .contenedor .article__receta {
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }
}
.containerMio.recetasMain .sidebar {
  grid-column: 2/span 1;
  justify-self: center;
  max-width: 300px;
  width: 100%;
  height: 300px;
  margin: 0 10px;
  font-size: 40px;
  border: solid 5px black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 30%;
  margin-right: 10%;
  font-family: Dyslexic;
  background-image: linear-gradient(to top, rgb(126, 183, 181) 20%, rgb(164, 237, 234) 80%);
}
@media (max-width: 1010px) {
  .containerMio.recetasMain .sidebar {
    grid-row: 1;
    grid-column: 1;
    margin: 10px auto;
    justify-self: center;
    align-self: center;
  }
}
@media (max-width: 356px) {
  .containerMio.recetasMain .sidebar {
    width: 80%;
    font-size: 30px;
  }
}
.containerMio.recetasMain .sidebar h4 {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
}
.containerMio.recetasMain .sidebar li {
  border-bottom: solid 2px black;
}
.containerMio.recetasMain .sidebar li:last-of-type {
  border-bottom: none;
}
.containerMio.recetasMain .sidebar li a {
  text-decoration: none;
  color: black;
}
.containerMio.recetasMain .sidebar li a:hover {
  text-shadow: -9px 6px 5px rgba(0, 0, 0, 0.79);
}

.borderMio {
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}
.borderMio.recetaMain {
  background-image: url(../assets/images/recetaBackground.webp);
}
.borderMio.recetaMain .contenedor__receta {
  max-width: 800px;
  width: 90%;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  column-gap: 10px;
}
.borderMio.recetaMain .contenedor__receta .img__receta {
  max-width: 793px;
  width: 100%;
  height: auto;
  border: solid 5px black;
}
.borderMio.recetaMain .contenedor__receta .button__deco {
  display: block;
  width: 30%;
  background-color: rgb(0, 0, 0);
  font-family: Dyslexic;
  text-align: center;
  color: white;
  text-decoration: none;
  border: solid 5px gray;
  font-size: 15px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
}
.borderMio.recetaMain .contenedor__receta .button__deco:hover {
  background-color: gray;
  border: solid 5px black;
  color: black;
}

.contactoMain {
  background-image: url(../assets/images/backgroundContacto.webp);
}
.contactoMain .centraTitulo {
  text-align: center;
  color: white;
  font-size: 40px;
}
.contactoMain .comentario {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
.contactoMain form {
  max-width: 700px;
  width: 70%;
  margin: auto;
  border: 10px double #ccc;
  padding: 5px;
  color: white;
}
.contactoMain form label {
  display: block;
  margin-bottom: 10px;
}
.contactoMain form input[type=text], .contactoMain form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contactoMain form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contactoMain form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
@media (max-width: 1010px) {
  .contactoMain form {
    width: 65%;
  }
}
@media (max-width: 747px) {
  .contactoMain form {
    width: 75%;
  }
}
@media (max-width: 559px) {
  .contactoMain form {
    width: 85%;
  }
}
@media (max-width: 356px) {
  .contactoMain form {
    min-width: 95%;
  }
}

.nosotrosMain {
  background-image: url(../assets/images/backgroundNosotros.webp);
}
.nosotrosMain .centrarTitulo {
  text-align: center;
  font-size: 40px;
}
.nosotrosMain .centrar {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 1010px) {
  .nosotrosMain .centrar {
    font-size: 25px;
  }
}
@media (max-width: 747px) {
  .nosotrosMain .centrar {
    font-size: 25px;
    width: 90%;
  }
}
@media (max-width: 559px) {
  .nosotrosMain .centrar {
    font-size: 20px;
    width: 90%;
  }
}
@media (max-width: 356px) {
  .nosotrosMain .centrar {
    font-size: 15px;
    width: 90%;
  }
}

.indexMain {
  background-image: url(../assets/images/backgroundMain2.webp);
}
.indexMain .heading {
  font-size: 110px;
  font-family: Happydayschool;
  margin-top: 50px;
  text-shadow: -5px 3px 5px rgba(0, 0, 0, 0.5);
  animation: myAnim 2s linear 0s infinite normal none;
}
@media (max-width: 559px) {
  .indexMain .heading {
    font-size: 110px;
  }
}
@media (max-width: 356px) {
  .indexMain .heading {
    font-size: 80px;
  }
}
.indexMain .index__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  object-fit: cover;
}
.indexMain .index__container .imageButton {
  border: none;
  cursor: pointer;
  max-width: 60%;
  height: 60%;
  background-color: transparent;
  font-size: 40px;
  word-wrap: break-word;
  font-family: Dyslexic;
  font-weight: bold;
  filter: drop-shadow(-19px 26px 38px #000);
}
.indexMain .index__container .imageButton .no-deco {
  text-decoration: none;
  color: black;
}
.indexMain .index__container .imageButton .no-deco img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  transition: all 0.5s ease;
}
.indexMain .index__container .imageButton .no-deco img:hover {
  scale: 1.3;
  transition: all 1s ease;
  overflow: hidden;
  border-radius: 8px;
}
.indexMain .index__container .imageButton.center {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  justify-self: center;
  align-self: start;
}
.indexMain .index__container .imageButton.topLeft {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
  justify-self: center;
  align-self: center;
}
.indexMain .index__container .imageButton.topRight {
  grid-row: 1/span 1;
  grid-column: 3/span 1;
  justify-self: center;
  align-self: center;
}
.indexMain .index__container .imageButton.bottomLeft {
  grid-row: 3/span 1;
  grid-column: 1/span 1;
  justify-self: center;
  align-self: start;
}
.indexMain .index__container .imageButton.bottomRight {
  grid-row: 3/span 1;
  grid-column: 3/span 1;
  justify-self: center;
  align-self: start;
}
@media (max-width: 1419px) {
  .indexMain .index__container .imageButton {
    font-size: 35px;
  }
}
@media (max-width: 1010px) {
  .indexMain .index__container .imageButton {
    font-size: 25px;
  }
}
@media (max-width: 747px) {
  .indexMain .index__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    object-fit: cover;
  }
  .indexMain .index__container .imageButton {
    font-size: 40px;
  }
  .indexMain .index__container .imageButton.center {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: center;
  }
  .indexMain .index__container .imageButton.topLeft {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: center;
  }
  .indexMain .index__container .imageButton.topRight {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: center;
  }
  .indexMain .index__container .imageButton.bottomLeft {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: start;
  }
  .indexMain .index__container .imageButton.bottomRight {
    grid-row: 5/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: start;
  }
}
@media (max-width: 559px) {
  .indexMain .index__container .imageButton {
    font-size: 25px;
  }
}
@media (max-width: 356px) {
  .indexMain .index__container .imageButton {
    font-size: 20px;
  }
}
