.header {
  background-image: url(../assets/images/backgroundHeader.webp);
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-content: center;

    .logo {
      width: 200px;
      margin: 80px 0 0 40px;
      transition: all 0.5s ease;
    
      &:hover {
        object-fit: cover;
        scale: 1.2;
        transition: all 1s ease;
        overflow: hidden;
        border-radius: 8px;
      }

      @media (max-width: 1010px) {
        width: 160px;
      }
      
      @media (max-width: 747px) {
            width: 130px;
            margin: 110px 0 0 20px;
      }
      
      @media (max-width: 559px) {
            width: 100px;
      }
      
      @media (max-width: 356px) {
            width: 60px;
            margin: 120px 0 0 10px;
      }
    }
  
    &__container {
      text-align: center;
      margin-top: 100px;
      margin-left: 130px;

      p {
        font-size: 30px;
      }
    }
    @media (max-width: 1419px) {
   
      .header__container {
        margin-left: 15px;
        margin-top: 120px;
  
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 30px;
        }
      }
    }
    
    @media (max-width: 1010px) {
      
      .header__container {
        margin-left: 20px;
        margin-top: 120px;
      }
    }
    
    @media (max-width: 747px) {
      .header__container {
        margin-left: 0px;
        margin-top: 120px;
  
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 25px;
        }
      }
    }
    
    @media (max-width: 559px) {
      .header__container {
        margin-left: 0px;
        margin-top: 100px;
  
        h1 {
          font-size: 35px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    
    @media (max-width: 356px) {
      .header__container {
        margin-left: 0px;
        margin-top: 100px;
  
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 10px;
        }
      }
    }
}

  
  
  
  