.indexMain {
  background-image: url(../assets/images/backgroundMain2.webp);
  @extend .contenedores;

  .heading {
    font-size: 90px;
    font-family: Dyslexic;
    text-decoration: underline;
    margin-top: 50px;
    text-shadow: -9px 6px 5px rgba(0, 0, 0, 0.5);

    @media (max-width: 559px) {
        font-size: 60px;
    }
    @media (max-width: 356px) {
      font-size: 45px;
    }
  }

  .index__container {
    @include templateGrid(3, 3);

    .imageButton {
      border: none;
      cursor: pointer;
      max-width: 60%;
      height: 60%;
      background-color: transparent;
      font-size: 40px;
      word-wrap: break-word;
      font-family: Dyslexic;
      font-weight: bold;
      filter: drop-shadow(-19px 26px 38px #000);

      .no-deco {
        text-decoration: none;
        color: $negro;

        img {
          &:hover {
            scale: 1.3;
            transition: all 1s ease;
            overflow: hidden;
            border-radius: 8px;
          }

          width: 100%;
          height: 100%;
          max-height: 100%;
          transition: all 0.5s ease;
        }
      }

      &.center {
        @include gridElements(2, 2, start);
      }

      &.topLeft {
        @include gridElements(1, 1, center);
      }

      &.topRight {
        @include gridElements(1, 3, center);
      }

      &.bottomLeft {
        @include gridElements(3, 1, start);
      }

      &.bottomRight {
        @include gridElements(3, 3, start);
      }
    }

    @media (max-width: 1419px) {
      .imageButton {
        font-size: 35px;
      }
    }

    @media (max-width: 1010px) {

      .imageButton {
        font-size: 25px;
      }
    }

    @media (max-width: 747px) {
      @include templateGrid(1, 5);
      
      .imageButton {
        font-size: 40px;
        &.center {
          @include gridElements(3, 1, center);
        }
  
        &.topLeft {
          @include gridElements(1, 1, center);
        }
  
        &.topRight {
          @include gridElements(2, 1, center);
        }
  
        &.bottomLeft {
          @include gridElements(4, 1, start);
        }
  
        &.bottomRight {
          @include gridElements(5, 1, start);
        }
      }
    }

    @media (max-width: 559px) {
      .imageButton {
        font-size: 25px;
      }
    }

    @media (max-width: 356px) {
      .imageButton {
        font-size: 20px;
      }
    }
  }
}
