  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  @font-face{
    font-family: FasterOne;
    src: url(../../assets/fonts/FasterOne-Regular.ttf) format(truetype);
    font-style: normal;
  }
  @font-face{
    font-family: Dyslexic;
    src: url(../../assets/fonts/OpenDyslexic-Bold.ttf) format(truetype);
    font-style: normal;
  }

  h1 {
    font-size: 60px;
    font-family: FasterOne;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-size: 50px;
  }
  
  h3 {
    font-size: 40px;
  }

  @keyframes myAnim {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(2px, -2px);
    }
  
    40% {
      transform: translate(2px, 2px);
    }
  
    60% {
      transform: translate(-2px, 2px);
    }
  
    80% {
      transform: translate(-2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
  }

  //Extends

  .contenedores{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-top: 5px solid $negro;
    border-bottom: 5px solid $negro;
  }
  
  .listas{
    font-size: 20px;
    margin: 20px 0;
  }

  //mixin

  @mixin gridTemplate($columns){
    display: grid;
    grid-template-columns: $columns;
    gap: 4px;
  }

  @mixin templateGrid($colNum, $rowNum){
    display: grid;
    grid-template-columns: repeat($colNum, 1fr);
    grid-template-rows: repeat($rowNum, 1fr);
    object-fit: cover;
  }

  @mixin gridElements($row, $column, $align)
  {
    grid-row: $row / span 1;
    grid-column: $column / span 1;
    justify-self: center;
    align-self: $align;
  }